@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kumbh+Sans:wght@400;700&display=swap');

:root{
  font-size: 18px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: grid;
  place-items: center;
  background-color: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;
  height: 100vh;

}
.container{

}
.bgm1{
  position: absolute;
  z-index: -100;
  top:-400px;
  left: -50px;
}
.bgm2{
  position: absolute;
  bottom:-450px;
  right: -50px;
  z-index: -100;

}
.container{
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 350px;
  height: 400px;
  border-radius: 20px;
  background-color: #fff;
  margin: auto;
  overflow: hidden;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);
}

main article{
  justify-content: space-between;
  font-size: .7rem;
  
}
.information h1{
  font-size: 1rem;
  color: hsl(229, 23%, 23%);
}
.information span{
  color: hsl(227, 10%, 46%);
  font-size: 1rem;
  font-weight: 400;
  padding: 0 5px;

}
.information h2{
  font-size: 1rem;
  font-weight: 400;
  color: hsl(0, 0%, 59%);
  padding: 10px 0 30px;

}
.image_holder img{
  border: 4px solid #fff;
  border-radius: 50%;
  margin: -53px auto 10px auto;
  display: block;

}

.buttom_artcls{
  display: flex;
  justify-content: space-around;
  border-top: 1px solid hsl(0, 0%, 59%);
  padding: 30px;
}
.buttom_artcls h3{
  font-size: 1rem;
  color: hsl(229, 23%, 23%);
}
.buttom_artcls h4{
  font-size: .8rem;
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}